In [1]:
import pandas as pd

In [2]:
df_drug = pd.read_csv('../data/DrugCount.csv')

In [3]:
df_drug.head()

   MemberID Year          DSFS DrugCount
0  48925661   Y2   9-10 months        7+
1  90764620   Y3   8- 9 months         3
2  61221204   Y1   2- 3 months         1
3  63628544   Y3   1- 2 months         1
4  46949606   Y2  10-11 months         3

In [4]:
def count_nulls(df):
    null_counter = df.isnull().sum(axis=0)
    null_counter = null_counter[null_counter > 0]
    null_percent = df.isnull().sum(axis=0) / df.shape[0] * 100
    null_percent = null_percent[null_percent > 0]
    null_df = pd.concat([null_counter,null_percent],axis=1)
    null_df.columns = ['count','percent']
    display(null_df)
    
count_nulls(df_drug)

Empty DataFrame
Columns: [count, percent]
Index: []

In [5]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [6]:
df_drug["DSFS"] = df_drug["DSFS"].apply(edit_str)

In [7]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [9]:
df_drug["DrugCount"] = df_drug["DrugCount"].apply(edit_count)

In [11]:
df_drug.head()

   MemberID Year  DSFS  DrugCount
0  48925661   Y2    10          7
1  90764620   Y3     9          3
2  61221204   Y1     3          1
3  63628544   Y3     2          1
4  46949606   Y2    11          3

In [12]:
df_drug.dtypes

MemberID      int64
Year         object
DSFS          int64
DrugCount     int64
dtype: object

In [13]:
df_group_drug = df_drug.groupby(['Year','MemberID'])

df_new_drug = pd.DataFrame()
df_new_drug['MemberID'] = df_group_drug['MemberID'].head()
df_new_drug['Year'] = df_group_drug['Year'].head()

df_new_drug['DrugCount_total'] = df_group_drug['DrugCount'].transform('sum')
df_new_drug['DrugCount_months'] = df_group_drug['MemberID'].transform('count')

In [14]:
df_new_drug.head()

   MemberID Year  DrugCount_total  DrugCount_months
0  48925661   Y2               71                12
1  90764620   Y3               12                 4
2  61221204   Y1               11                 6
3  63628544   Y3                3                 2
4  46949606   Y2               31                11

In [15]:
df_new_drug.to_csv("new-data/new_drugs.csv", index=False)