In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
df_claims = pd.read_csv('data/Claims.csv')
df_members = pd.read_csv('data/Members.csv')
df_hospital = pd.read_csv('data/DaysInHospital_Y2.csv')
df_drug = pd.read_csv('data/DrugCount.csv')
df_lab = pd.read_csv('data/LabCount.csv')

In [3]:
df_claims.dtypes

MemberID                   int64
ProviderID               float64
Vendor                   float64
PCP                      float64
Year                      object
Specialty                 object
PlaceSvc                  object
PayDelay                  object
LengthOfStay              object
DSFS                      object
PrimaryConditionGroup     object
CharlsonIndex             object
ProcedureGroup            object
SupLOS                     int64
dtype: object

In [4]:
df_claims

,MemberID,ProviderID,Vendor,PCP,Year,Specialty,PlaceSvc,PayDelay,LengthOfStay,DSFS,PrimaryConditionGroup,CharlsonIndex,ProcedureGroup,SupLOS
0,42286978,8013252.0,172193.0,37796.0,Y1,Surgery,Office,28,NaN,8- 9 months,NEUMENT,0,MED,0
1,97903248,3316066.0,726296.0,5300.0,Y3,Internal,Office,50,NaN,7- 8 months,NEUMENT,1-2,EM,0
2,2759427,2997752.0,140343.0,91972.0,Y3,Internal,Office,14,NaN,0- 1 month,METAB3,0,EM,0
3,73570559,7053364.0,240043.0,70119.0,Y3,Laboratory,Independent Lab,24,NaN,5- 6 months,METAB3,1-2,SCS,0
4,11837054,7557061.0,496247.0,68968.0,Y2,Surgery,Outpatient Hospital,27,NaN,4- 5 months,FXDISLC,1-2,EM,0
5,45844561,1963488.0,4042.0,55823.0,Y3,Pediatrics,Office,25,NaN,3- 4 months,NEUMENT,0,EM,0
6,99829076,6721023.0,265273.0,91972.0,Y1,Rehabilitation,Office,162+,NaN,0- 1 month,TRAUMA,0,MED,0
7,54666321,9932074.0,35565.0,27294.0,Y1,Diagnostic Imaging,Office,29,NaN,0- 1 month,RESPR4,0,RAD,0
8,60497718,363858.0,293107.0,64913.0,Y2,Rehabilitation,Office,42,NaN,1- 2 months,INFEC4,0,EM,0
9,72200595,6251259.0,791272.0,49465.0,Y3,Internal,Office,56,NaN,7- 8 months,MISCHRT,1-2,SCS,0
10,12333431,605446.0,120581.0,20893.0,Y3,Anesthesiology,Outpatient Hospital,37,NaN,NaN,ARTHSPIN,1-2,ANES,0
11,66951188,4699470.0,179509.0,75876.0,Y1,Diagnostic Imaging,Inpatient Hospital,51,NaN,0- 1 month,ROAMI,0,RAD,0
12,78859054,9121540.0,523791.0,21579.0,Y1,Emergency,Urgent Care,22,1 day,6- 7 months,HEART2,0,SDS,0
13,32643389,7161676.0,868419.0,782.0,Y3,Surgery,Office,21,NaN,4- 5 months,MSC2a3,1-2,EM,0
14,26477481,8362269.0,682053.0,20090.0,Y1,Emergency,Urgent Care,143,NaN,0- 1 month,ROAMI,1-2,EM,0
15,83695244,5244762.0,791272.0,32724.0,Y1,Internal,Office,162+,NaN,0- 1 month,MISCHRT,0,EM,0
16,63063005,2864249.0,167772.0,35832.0,Y1,Diagnostic Imaging,Urgent Care,62,NaN,10-11 months,PNEUM,1-2,RAD,0
17,46891756,5094820.0,539281.0,77134.0,Y2,General Practice,Office,21,NaN,8- 9 months,MISCL5,0,EM,0
18,34087464,7990212.0,NaN,91972.0,Y1,General Practice,Urgent Care,46,NaN,4- 5 months,GIOBSENT,1-2,SCS,0
19,31394988,5655214.0,521876.0,85074.0,Y2,General Practice,Office,31,NaN,0- 1 month,RESPR4,1-2,EM,0
20,777964,2540806.0,62417.0,76334.0,Y3,Internal,Office,34,NaN,0- 1 month,MISCL5,0,EM,0
21,33385188,7053364.0,240043.0,68968.0,Y1,Laboratory,Independent Lab,24,NaN,6- 7 months,HEART2,1-2,PL,0
22,86882871,7418170.0,943792.0,20090.0,Y1,Diagnostic Imaging,Outpatient Hospital,162+,NaN,0- 1 month,ARTHSPIN,1-2,RAD,0
23,76920475,7053364.0,240043.0,77779.0,Y3,Laboratory,Independent Lab,16,NaN,0- 1 month,METAB3,1-2,PL,0
24,831279,7053364.0,240043.0,38762.0,Y3,Laboratory,Independent Lab,23,NaN,7- 8 months,RENAL3,1-2,PL,0
25,69389881,5193362.0,576600.0,62284.0,Y2,Emergency,Office,31,NaN,3- 4 months,TRAUMA,0,RAD,0
26,41932830,7053364.0,240043.0,88661.0,Y1,Laboratory,Independent Lab,162+,NaN,0- 1 month,METAB3,0,PL,0
27,72140833,661224.0,391178.0,72351.0,Y3,Internal,Office,42,NaN,6- 7 months,GYNEC1,0,EM,0
28,59324278,6330610.0,154478.0,44981.0,Y3,Internal,Urgent Care,48,1 day,0- 1 month,AMI,1-2,SDS,0
29,276553,7053364.0,240043.0,58880.0,Y2,Laboratory,Independent Lab,29,NaN,0- 1 month,MSC2a3,1-2,SCS,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2668960,34169043,9484587.0,140343.0,16757.0,Y2,Internal,Office,57,NaN,0- 1 month,INFEC4,0,EM,0
2668961,46449277,822173.0,917318.0,27406.0,Y3,Internal,Office,20,NaN,1- 2 months,SKNAUT,0,EM,0
2668962,28050826,2352545.0,122401.0,21579.0,Y2,Internal,Office,22,NaN,6- 7 months,METAB3,1-2,EM,0
2668963,98711556,321261.0,152610.0,27406.0,Y3,Laboratory,Independent Lab,16,NaN,7- 8 months,METAB3,1-2,PL,0
2668964,76256432,1781732.0,791272.0,32724.0,Y3,General Practice,Office,83,NaN,1- 2 months,METAB3,1-2,EM,0
2668965,5036761,4015462.0,35565.0,68968.0,Y1,Diagnostic Imaging,Office,37,NaN,0- 1 month,ARTHSPIN,0,RAD,0
2668966,47650911,9845664.0,201583.0,5300.0,Y3,Other,Office,28,NaN,3- 4 months,CANCRB,1-2,PL,0
2668967,66218307,6164824.0,791272.0,47987.0,Y2,Internal,Office,150,NaN,5- 6 months,SKNAUT,0,MED,0
2668968,61591170,7262437.0,316163.0,57744.0,Y3,Internal,Office,36,NaN,1- 2 months,RENAL2,1-2,EM,0
2668969,19392751,3161700.0,629052.0,68968.0,Y3,Internal,Outpatient Hospital,20,NaN,3- 4 months,MSC2a3,0,EM,0
2668970,14098507,7512468.0,122401.0,18880.0,Y2,Surgery,Office,31,NaN,NaN,SKNAUT,0,EM,0
2668971,99077919,7053364.0,240043.0,73982.0,Y2,Laboratory,Independent Lab,30,NaN,1- 2 months,METAB3,1-2,PL,0
2668972,98535515,7638907.0,559727.0,83829.0,Y1,Emergency,Urgent Care,44,NaN,7- 8 months,TRAUMA,0,EM,0
2668973,68249807,4686641.0,64835.0,21146.0,Y2,General Practice,Office,34,NaN,2- 3 months,NEUMENT,1-2,EM,0
2668974,90256460,6331312.0,122401.0,63771.0,Y2,Internal,Office,16,NaN,4- 5 months,METAB3,1-2,PL,0
2668975,1344508,4107701.0,164823.0,78718.0,Y1,Laboratory,Independent Lab,17,NaN,NaN,CATAST,0,SCS,0
2668976,54014690,9425226.0,197154.0,66621.0,Y2,Internal,Office,19,NaN,2- 3 months,MSC2a3,0,EM,0
2668977,73820095,1256697.0,789572.0,821.0,Y1,Surgery,Office,35,NaN,5- 6 months,MSC2a3,1-2,MED,0
2668978,22476463,7053364.0,240043.0,70171.0,Y1,Laboratory,Independent Lab,38,NaN,0- 1 month,MSC2a3,0,PL,0
2668979,45961553,8852263.0,489544.0,49321.0,Y2,Pediatrics,Office,37,NaN,0- 1 month,MSC2a3,0,EM,0
2668980,27364767,3394625.0,112451.0,39946.0,Y3,Internal,Outpatient Hospital,42,NaN,0- 1 month,MSC2a3,0,SDS,0
2668981,49953033,186482.0,140343.0,75221.0,Y2,Emergency,Urgent Care,54,NaN,5- 6 months,INFEC4,0,EM,0
2668982,95316156,794638.0,122401.0,46162.0,Y3,Internal,Office,22,NaN,2- 3 months,INFEC4,0,EM,0
2668983,72214864,3941897.0,865272.0,25513.0,Y2,General Practice,Office,30,NaN,1- 2 months,RESPR4,1-2,EM,0
2668984,83759594,7674964.0,62417.0,90249.0,Y2,Internal,Outpatient Hospital,52,NaN,11-12 months,MSC2a3,1-2,SDS,0
2668985,14932948,6641119.0,693028.0,22193.0,Y2,Obstetrics and Gynecology,Inpatient Hospital,58,NaN,0- 1 month,GYNEC1,0,EM,0
2668986,31248189,6932712.0,223304.0,70748.0,Y3,Internal,Inpatient Hospital,23,NaN,0- 1 month,GIBLEED,1-2,EM,0
2668987,43767339,1483429.0,35565.0,5278.0,Y3,Diagnostic Imaging,Office,122,NaN,4- 5 months,ODaBNCA,0,SIS,0
2668988,96393713,7094351.0,347045.0,93075.0,Y3,Internal,Office,151,NaN,1- 2 months,METAB3,1-2,EM,0
2668989,57805129,3884005.0,523319.0,90756.0,Y1,Internal,Office,15,NaN,4- 5 months,SKNAUT,1-2,EM,0

In [5]:
def count_nulls(df):
    null_counter = df.isnull().sum(axis=0)
    null_counter = null_counter[null_counter > 0]
    null_percent = df.isnull().sum(axis=0) / df.shape[0] * 100
    null_percent = null_percent[null_percent > 0]
    null_df = pd.concat([null_counter,null_percent],axis=1)
    null_df.columns = ['count','percent']
    display(null_df)
    
count_nulls(df_claims)

                         count    percent
ProviderID               16264   0.609369
Vendor                   24856   0.931289
PCP                       7492   0.280705
Specialty                 8405   0.314913
PlaceSvc                  7632   0.285951
LengthOfStay           2597392  97.317412
DSFS                     52770   1.977152
PrimaryConditionGroup    11410   0.427503
ProcedureGroup            3675   0.137693

In [6]:
def updatePayDelay():
    df_claims.loc[df_claims['PayDelay']=='162+','PayDelay'] = 162
    df_claims['PayDelay'] = df_claims['PayDelay'].astype(int)
    return

updatePayDelay()

In [7]:
def updateDSFS():
    df_claims.loc[df_claims['DSFS']=='0- 1 month','DSFS'] = 1
    df_claims.loc[df_claims['DSFS']=='1- 2 months','DSFS'] = 2
    df_claims.loc[df_claims['DSFS']=='2- 3 months','DSFS'] = 3
    df_claims.loc[df_claims['DSFS']=='3- 4 months','DSFS'] = 4
    df_claims.loc[df_claims['DSFS']=='4- 5 months','DSFS'] = 5
    df_claims.loc[df_claims['DSFS']=='5- 6 months','DSFS'] = 6
    df_claims.loc[df_claims['DSFS']=='6- 7 months','DSFS'] = 7
    df_claims.loc[df_claims['DSFS']=='7- 8 months','DSFS'] = 8
    df_claims.loc[df_claims['DSFS']=='8- 9 months','DSFS'] = 9
    df_claims.loc[df_claims['DSFS']=='9-10 months','DSFS'] = 10
    df_claims.loc[df_claims['DSFS']=='10-11 months','DSFS'] = 11
    df_claims.loc[df_claims['DSFS']=='11-12 months','DSFS'] = 12
    df_claims['DSFS'].fillna(0, inplace=True)
    df_claims['DSFS'] = df_claims['DSFS'].astype(int)
    return

updateDSFS()

In [8]:
def updateCharlsonIndex():
    df_claims.loc[df_claims['CharlsonIndex']=='0','CharlsonIndex'] = 0
    df_claims.loc[df_claims['CharlsonIndex']=='1-2','CharlsonIndex'] = 2
    df_claims.loc[df_claims['CharlsonIndex']=='3-4','CharlsonIndex'] = 4
    df_claims.loc[df_claims['CharlsonIndex']=='5+','CharlsonIndex'] = 6

    df_claims['CharlsonIndex'] = df_claims['CharlsonIndex'].astype(int)
    return
    
updateCharlsonIndex()

In [9]:
def updateLengthOfStay():
    df_claims.loc[df_claims['LengthOfStay']=='1 day','LengthOfStay'] = 1
    df_claims.loc[df_claims['LengthOfStay']=='2 days','LengthOfStay'] = 2
    df_claims.loc[df_claims['LengthOfStay']=='3 days','LengthOfStay'] = 3
    df_claims.loc[df_claims['LengthOfStay']=='4 days','LengthOfStay'] = 4
    df_claims.loc[df_claims['LengthOfStay']=='5 days','LengthOfStay'] = 5
    df_claims.loc[df_claims['LengthOfStay']=='6 days','LengthOfStay'] = 6
    df_claims.loc[df_claims['LengthOfStay']=='1- 2 weeks','LengthOfStay'] = 11
    df_claims.loc[df_claims['LengthOfStay']=='2- 4 weeks','LengthOfStay'] = 21
    df_claims.loc[df_claims['LengthOfStay']=='4- 8 weeks','LengthOfStay'] = 42
    df_claims.loc[df_claims['LengthOfStay']=='26+ weeks','LengthOfStay'] = 180
    
    df_claims['LengthOfStay'].fillna(0, inplace=True)

    df_claims['LengthOfStay'] = df_claims['LengthOfStay'].astype(int)
    return

updateLengthOfStay()

In [16]:
df_group = df_claims.groupby(['Year','MemberID'])

df_new = pd.DataFrame()
df_new['MemberID'] = df_group['MemberID'].head()
df_new['Year'] = df_group['Year'].head()

df_new['no_Claims'] = df_group['ProviderID'].transform('count')
df_new['no_Providers'] = df_group['ProviderID'].transform('nunique')
df_new['no_Vendors'] = df_group['Vendor'].transform('nunique')
df_new['no_PCPs'] = df_group['PCP'].transform('nunique')
df_new['no_PlaceSvcs'] = df_group['PlaceSvc'].transform('nunique')
df_new['no_Specialities'] = df_group['Specialty'].transform('nunique')
df_new['no_PrimaryConditionGroups'] = df_group['PrimaryConditionGroup'].transform('nunique')
df_new['no_ProcedureGroups'] = df_group['ProcedureGroup'].transform('nunique')

df_new['PayDelay_max'] = df_group['PayDelay'].transform('max')
df_new['PayDelay_min'] = df_group['PayDelay'].transform('min')
df_new['PayDelay_ave'] = df_group['PayDelay'].transform(lambda x: np.average(x))
# df_new['PayDelay_stdev'] = df_group['PayDelay'].transform(lambda x: 1 if x>25 else 0)

df_new.head(10)

,MemberID,Year,no_Claims,no_Providers,no_Vendors,no_PCPs,no_PlaceSvcs,no_Specialities,no_PrimaryConditionGroups,no_ProcedureGroups,PayDelay_max,PayDelay_min,PayDelay_ave
0,42286978,Y1,12,8.0,8.0,1.0,3,5,8,5,114,27,49.416667
1,97903248,Y3,44,11.0,11.0,1.0,3,7,8,7,135,0,27.750000
2,2759427,Y3,3,2.0,2.0,1.0,2,2,1,3,31,14,25.333333
3,73570559,Y3,30,8.0,5.0,1.0,2,5,7,6,86,15,34.733333
4,11837054,Y2,43,7.0,6.0,1.0,3,6,7,5,42,15,29.116279
5,45844561,Y3,6,1.0,1.0,1.0,1,1,2,1,25,17,20.166667
6,99829076,Y1,12,5.0,4.0,1.0,2,5,4,5,162,23,106.000000
7,54666321,Y1,36,8.0,6.0,1.0,2,6,5,6,162,20,57.750000
8,60497718,Y2,15,6.0,6.0,1.0,3,4,8,5,162,21,45.066667
9,72200595,Y3,44,16.0,12.0,1.0,6,8,14,7,162,0,51.954545

In [ ]:
df_new['pgc1'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='MSC2a3'))
df_new['pgc2'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='METAB3'))
df_new['pgc3'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='ARTHSPIN'))
df_new['pgc4'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='NEUMENT'))
df_new['pgc5'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='RESPR4'))
df_new['pgc6'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='MISCHRT'))
df_new['pgc7'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='SKNAUT'))
df_new['pgc8'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='GIBLEED'))
df_new['pgc9'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='INFEC4'))
df_new['pgc10'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='TRAUMA'))
df_new['pgc11'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='HEART2'))
df_new['pgc12'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='RENAL3'))
df_new['pgc13'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='ROAMI'))
df_new['pgc14'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='MISCL5'))
df_new['pgc15'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='ODaBNCA'))
df_new['pgc16'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='UTI'))
df_new['pgc17'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='COPD'))
df_new['pgc18'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='GYNEC1'))
df_new['pgc19'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='CANCRB'))
df_new['pgc20'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='FXDISLC'))
df_new['pgc21'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='AMI'))
df_new['pgc22'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='PRGNCY'))
df_new['pgc23'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='HEMTOL'))
df_new['pgc24'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='HEART4'))
df_new['pgc25'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='SEIZURE'))
df_new['pgc26'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='APPCHOL'))
df_new['pgc27'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='CHF'))
df_new['pgc28'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='GYNECA'))
df_new['pgc29'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x.isnull()))
df_new['pgc30'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='PNEUM'))
df_new['pgc31'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='RENAL2'))
df_new['pgc32'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='GIOBSENT'))
df_new['pgc33'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='STROKE'))
df_new['pgc34'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='CANCRA'))
df_new['pgc35'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='FLaELEC'))
df_new['pgc36'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='MISCL1'))
df_new['pgc37'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='HIPFX'))
df_new['pgc38'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='METAB1'))
df_new['pgc39'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='PERVALV'))
df_new['pgc40'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='LIVERDZ'))
df_new['pgc41'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='CATAST'))
df_new['pgc42'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='CANCRM'))
df_new['pgc43'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='PERINTL'))
df_new['pgc44'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='PNCRDZ'))
df_new['pgc45'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='RENAL1'))
df_new['pgc46'] = df_group['PrimaryConditionGroup'].transform(lambda x: sum(x=='SEPSIS'))

In [19]:
df_new.head(10)

,MemberID,Year,no_Claims,no_Providers,no_Vendors,no_PCPs,no_PlaceSvcs,no_Specialities,no_PrimaryConditionGroups,no_ProcedureGroups,...,pgc13,pgc14,pgc15,pgc16,pgc17,pgc18,pgc19,pgc20,pgc21,pgc22
0,42286978,Y1,12,8.0,8.0,1.0,3,5,8,5,...,0,0,1,0,0,0,0,0,0,0
1,97903248,Y3,44,11.0,11.0,1.0,3,7,8,7,...,0,0,3,0,0,0,0,0,0,0
2,2759427,Y3,3,2.0,2.0,1.0,2,2,1,3,...,0,0,0,0,0,0,0,0,0,0
3,73570559,Y3,30,8.0,5.0,1.0,2,5,7,6,...,0,0,0,0,0,2,0,0,0,0
4,11837054,Y2,43,7.0,6.0,1.0,3,6,7,5,...,0,0,0,0,4,0,0,15,0,0
5,45844561,Y3,6,1.0,1.0,1.0,1,1,2,1,...,0,0,0,0,0,0,0,0,0,0
6,99829076,Y1,12,5.0,4.0,1.0,2,5,4,5,...,0,0,0,0,0,0,0,0,0,0
7,54666321,Y1,36,8.0,6.0,1.0,2,6,5,6,...,0,0,0,0,1,0,0,0,0,0
8,60497718,Y2,15,6.0,6.0,1.0,3,4,8,5,...,0,1,1,0,1,0,0,0,0,0
9,72200595,Y3,44,16.0,12.0,1.0,6,8,14,7,...,0,1,4,2,0,0,0,0,0,0

In [ ]:
df_new['sp1'] = df_group['Specialty'].transform(lambda x: sum(x=='Internal'))
df_new['sp2'] = df_group['Specialty'].transform(lambda x: sum(x=='Laboratory'))
df_new['sp3'] = df_group['Specialty'].transform(lambda x: sum(x=='General Practice'))
df_new['sp4'] = df_group['Specialty'].transform(lambda x: sum(x=='Surgery'))
df_new['sp5'] = df_group['Specialty'].transform(lambda x: sum(x=='Diagnostic Imaging'))
df_new['sp6'] = df_group['Specialty'].transform(lambda x: sum(x=='Emergency'))
df_new['sp7'] = df_group['Specialty'].transform(lambda x: sum(x=='Other'))
df_new['sp8'] = df_group['Specialty'].transform(lambda x: sum(x=='Pediatrics'))
df_new['sp9'] = df_group['Specialty'].transform(lambda x: sum(x=='Rehabilitation'))
df_new['sp10'] = df_group['Specialty'].transform(lambda x: sum(x=='Obstetrics and Gynecology'))
df_new['sp11'] = df_group['Specialty'].transform(lambda x: sum(x=='Anesthesiology'))
df_new['sp12'] = df_group['Specialty'].transform(lambda x: sum(x=='Pathology'))
df_new['sp13'] = df_group['Specialty'].transform(lambda x: sum(x.isnull()))

In [ ]:
df_new['pg1'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='EM'))
df_new['pg2'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='PL'))
df_new['pg3'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='MED'))                                                                 
df_new['pg4'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SCS'))
df_new['pg5'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='RAD'))
df_new['pg6'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SDS'))
df_new['pg7'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SIS'))
df_new['pg8'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SMS'))                                                                 
df_new['pg9'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='ANES'))
df_new['pg10'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SGS'))
df_new['pg11'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SEOA'))
df_new['pg12'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SRS'))
df_new['pg13'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SNS'))                                                                 
df_new['pg14'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SAS'))
df_new['pg15'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SUS'))
df_new['pg16'] = df_group['ProcedureGroup'].transform(lambda x: sum(x.isnull()))
df_new['pg17'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SMCD'))
df_new['pg18'] = df_group['ProcedureGroup'].transform(lambda x: sum(x=='SO'))

In [ ]:
df_new['ps1'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Office'))                   
df_new['ps2'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Independent Lab'))                                             
df_new['ps3'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Urgent Care'))                                                             
df_new['ps4'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Outpatient Hospital'))                                                                
df_new['ps5'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Inpatient Hospital'))                                                                 
df_new['ps6'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Ambulance'))                                                                 
df_new['ps7'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Other'))                                                                 
df_new['ps8'] = df_group['PlaceSvc'].transform(lambda x: sum(x=='Home'))                                                                 
df_new['ps9'] = df_group['PlaceSvc'].transform(lambda x: sum(x.isnull()))

In [4]:
df_members.head()

   MemberID AgeAtFirstClaim Sex
0  14723353           70-79   M
1  75706636           70-79   M
2  17320609           70-79   M
3  69690888           40-49   M
4  33004608             0-9   M

In [5]:
df_members.dtypes

MemberID            int64
AgeAtFirstClaim    object
Sex                object
dtype: object

In [7]:
df_new_members = pd.DataFrame()
df_new_members['MemberID']=df_members['MemberID']

In [9]:
def updateAge():
    df_new_members['age_05'] = np.where(df_members['AgeAtFirstClaim']=='0-9', 1, 0)
    df_new_members['age_15'] = np.where(df_members['AgeAtFirstClaim']=='10-19', 1, 0)
    df_new_members['age_25'] = np.where(df_members['AgeAtFirstClaim']=='20-29', 1, 0)
    df_new_members['age_35'] = np.where(df_members['AgeAtFirstClaim']=='30-39', 1, 0)
    df_new_members['age_45'] = np.where(df_members['AgeAtFirstClaim']=='40-49', 1, 0)
    df_new_members['age_55'] = np.where(df_members['AgeAtFirstClaim']=='50-59', 1, 0)
    df_new_members['age_65'] = np.where(df_members['AgeAtFirstClaim']=='60-69', 1, 0)
    df_new_members['age_75'] = np.where(df_members['AgeAtFirstClaim']=='70-79', 1, 0)
    df_new_members['age_85'] = np.where(df_members['AgeAtFirstClaim']=='80+', 1, 0)
    df_new_members['age_MISS'] = np.where(df_members['AgeAtFirstClaim'].isnull(), 1, 0)
    return

updateAge()
df_new_members.head()

,MemberID,age_05,age_15,age_25,age_35,age_45,age_55,age_65,age_75,age_85,age_MISS
0,14723353,0,0,0,0,0,0,0,1,0,0
1,75706636,0,0,0,0,0,0,0,1,0,0
2,17320609,0,0,0,0,0,0,0,1,0,0
3,69690888,0,0,0,0,1,0,0,0,0,0
4,33004608,1,0,0,0,0,0,0,0,0,0

In [12]:
def updateSex():
    df_new_members['SexMALE'] = np.where(df_members['Sex']=='M', 1, 0)
    df_new_members['sexFEMALE'] = np.where(df_members['Sex']=='F', 1, 0)
    df_new_members['sexMISS'] = np.where(df_members['Sex'].isnull(), 1, 0)
    return

updateSex()
df_new_members.dtypes
df_new_members.head()

,MemberID,age_05,age_15,age_25,age_35,age_45,age_55,age_65,age_75,age_85,age_MISS,SexMALE,sexFEMALE,sexMISS
0,14723353,0,0,0,0,0,0,0,1,0,0,1,0,0
1,75706636,0,0,0,0,0,0,0,1,0,0,1,0,0
2,17320609,0,0,0,0,0,0,0,1,0,0,1,0,0
3,69690888,0,0,0,0,1,0,0,0,0,0,1,0,0
4,33004608,1,0,0,0,0,0,0,0,0,0,1,0,0

In [13]:
df_new_members.dtypes

MemberID     int64
age_05       int32
age_15       int32
age_25       int32
age_35       int32
age_45       int32
age_55       int32
age_65       int32
age_75       int32
age_85       int32
age_MISS     int32
SexMALE      int32
sexFEMALE    int32
sexMISS      int32
dtype: object