In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import pandas as pd
import math

In [34]:
df = pd.read_csv('./5.ensemble/model3.csv')
df.loc[df['DaysInHospital'] == 0.2, 'DaysInHospital'] = 0

df.head()

   MemberID  DaysInHospital
0  99365603             0.0
1  99372887             0.0
2  99407970             0.0
3  99410604             0.0
4  99452880             0.0

In [35]:
data2 = pd.read_csv('./5.ensemble/model4.csv')
data2.loc[data2['DaysInHospital'] == 0.2, 'DaysInHospital'] = 0

data2.head()

   MemberID  DaysInHospital
0  99365603             0.0
1  99372887             0.0
2  99407970             0.0
3  99410604             0.0
4  99452880             0.0

In [36]:
data3 = pd.read_csv('./5.ensemble/model5.csv')
data3.head()

   MemberID  DaysInHospital
0  99365603             0.0
1  99372887             0.0
2  99407970             0.0
3  99410604             0.0
4  99452880             0.0

In [37]:
df = df.merge(data2, left_on = 'MemberID', right_on = 'MemberID')
df = df.merge(data3, left_on = 'MemberID', right_on = 'MemberID')

In [38]:
df.columns = ['MemberID', 'DIH_1', 'DIH_2', 'DIH_3']
df.head()

   MemberID  DIH_1  DIH_2  DIH_3
0  99365603    0.0    0.0    0.0
1  99372887    0.0    0.0    0.0
2  99407970    0.0    0.0    0.0
3  99410604    0.0    0.0    0.0
4  99452880    0.0    0.0    0.0

In [39]:
df['DaysInHospital'] = (df['DIH_1'] + df['DIH_2'] + df['DIH_3']) /3
df.head()

   MemberID  DIH_1  DIH_2  DIH_3  DaysInHospital
0  99365603    0.0    0.0    0.0             0.0
1  99372887    0.0    0.0    0.0             0.0
2  99407970    0.0    0.0    0.0             0.0
3  99410604    0.0    0.0    0.0             0.0
4  99452880    0.0    0.0    0.0             0.0

In [40]:
df.groupby(['DaysInHospital']).size()

DaysInHospital
0.000000    67174
0.333333     2244
0.666667     1247
1.000000      770
dtype: int64

In [41]:
df.loc[df['DaysInHospital'] > 0, 'DaysInHospital'] = 1
df.loc[df['DaysInHospital'] == 0, 'DaysInHospital'] = 0.2
# df['DIH']=df['DIH'].round(0).astype(int)
df.groupby(['DaysInHospital']).size()

DaysInHospital
0.2    67174
1.0     4261
dtype: int64

In [42]:
submit = pd.DataFrame()
submit['MemberID']=df['MemberID']
submit['DaysInHospital']=df['DaysInHospital']
submit.groupby(['DaysInHospital']).size()

DaysInHospital
0.2    67174
1.0     4261
dtype: int64

In [43]:
submit.to_csv('./5.ensemble/model.csv',index=False)