In [1]:
import pandas as pd

In [2]:
lab = pd.read_csv("labcount.csv")
drug = pd.read_csv("drugcount.csv")

In [3]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [12]:
lab.head()

   MemberID Year  DSFS  LabCount
0  69258001   Y3     3         1
1  10143167   Y1     1         2
2   1054357   Y1     1         6
3  56583841   Y3     7         4
4  70967047   Y2     1         2

In [13]:
drug.head()

   MemberID Year  DSFS  DrugCount
0  48925661   Y2    10          7
1  90764620   Y3     9          3
2  61221204   Y1     3          1
3  63628544   Y3     2          1
4  46949606   Y2    11          3

In [4]:
lab["DSFS"] = lab["DSFS"].apply(edit_str)
drug["DSFS"] = drug["DSFS"].apply(edit_str)

In [5]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [6]:
lab["LabCount"] = lab["LabCount"].apply(edit_count)
drug["DrugCount"] = drug["DrugCount"].apply(edit_count)

In [9]:
lab_Y1 = lab[lab["Year"] == "Y1"]
lab_Y2 = lab[lab["Year"] == "Y2"]
lab_Y3 = lab[lab["Year"] == "Y3"]

In [10]:
drug_Y1 = drug[drug["Year"] == "Y1"]
drug_Y2 = drug[drug["Year"] == "Y2"]
drug_Y3 = drug[drug["Year"] == "Y3"]

In [11]:
lab_Y1.head()

    MemberID Year  DSFS  LabCount
1   10143167   Y1     1         2
2    1054357   Y1     1         6
26  43367747   Y1     1        10
27   4317556   Y1     1         3
28  12608801   Y1     8         2