In [14]:
import pandas as pd

In [15]:
lab = pd.read_csv("labcount.csv")
drug = pd.read_csv("drugcount.csv")

In [16]:
def edit_str(str):
    return int(str.split("-")[0])+1

In [17]:
lab.head()

   MemberID Year         DSFS LabCount
0  69258001   Y3  2- 3 months        1
1  10143167   Y1   0- 1 month        2
2   1054357   Y1   0- 1 month        6
3  56583841   Y3  6- 7 months        4
4  70967047   Y2   0- 1 month        2

In [18]:
drug.head()

   MemberID Year          DSFS DrugCount
0  48925661   Y2   9-10 months        7+
1  90764620   Y3   8- 9 months         3
2  61221204   Y1   2- 3 months         1
3  63628544   Y3   1- 2 months         1
4  46949606   Y2  10-11 months         3

In [19]:
lab["DSFS"] = lab["DSFS"].apply(edit_str)
drug["DSFS"] = drug["DSFS"].apply(edit_str)

Thay thế các giá trị của cột DSFS từ string thành interger, lấy số lớn hơn giữa 2 số

In [20]:
def edit_count(str):
    str = str.replace("+","")
    return int(str)

In [21]:
lab["LabCount"] = lab["LabCount"].apply(edit_count)
drug["DrugCount"] = drug["DrugCount"].apply(edit_count)

Chuyển tất cả giá trị trong cột LabCount và DrugCount thành interger

In [22]:
lab_Y1 = lab[lab["Year"] == "Y1"]
lab_Y2 = lab[lab["Year"] == "Y2"]
lab_Y3 = lab[lab["Year"] == "Y3"]

In [23]:
drug_Y1 = drug[drug["Year"] == "Y1"]
drug_Y2 = drug[drug["Year"] == "Y2"]
drug_Y3 = drug[drug["Year"] == "Y3"]

tách dataframe theo các năm Y1, Y2, Y3

In [24]:
lab_Y1.head()

    MemberID Year  DSFS  LabCount
1   10143167   Y1     1         2
2    1054357   Y1     1         6
26  43367747   Y1     1        10
27   4317556   Y1     1         3
28  12608801   Y1     8         2

In [26]:
lab_Y1 = lab_Y1.groupby("MemberID").sum()
lab_Y1.reset_index(inplace = True)

In [33]:
drug_Y1 = drug_Y1.groupby("MemberID").sum()
drug_Y1.reset_index(inplace = True)

Lấy tổng giá trị các cột DSFS và DrugCount/LabCount với các giá trị có cùng MemberID

In [39]:
df = pd.merge(lab_Y1, drug_Y1, on="MemberID", how="outer")

Merge 2 df lại theo cùng MemberID

In [40]:
df.head()

   MemberID  DSFS_x  LabCount  DSFS_y  DrugCount
0       210     2.0       2.0    10.0        5.0
1      3889     1.0      10.0    60.0       30.0
2     11951     5.0       3.0     NaN        NaN
3     14661     1.0       2.0     1.0        1.0
4     14778     1.0       2.0    15.0        6.0

In [41]:
df.fillna(0, inplace=True)

Điền giá trị 0 vào những chỗ bị thiếu

In [42]:
df.head()

   MemberID  DSFS_x  LabCount  DSFS_y  DrugCount
0       210     2.0       2.0    10.0        5.0
1      3889     1.0      10.0    60.0       30.0
2     11951     5.0       3.0     0.0        0.0
3     14661     1.0       2.0     1.0        1.0
4     14778     1.0       2.0    15.0        6.0

In [44]:
df.rename(index=str, columns={"DSFS_x": "DSFS_Lab", "DSFS_y": "DSFS_Drug"})

       MemberID  DSFS_Lab  LabCount  DSFS_Drug  DrugCount
0           210       2.0       2.0       10.0        5.0
1          3889       1.0      10.0       60.0       30.0
2         11951       5.0       3.0        0.0        0.0
3         14661       1.0       2.0        1.0        1.0
4         14778       1.0       2.0       15.0        6.0
5         17249       1.0       2.0        0.0        0.0
6         18190       6.0       6.0       48.0       15.0
7         18333       3.0       6.0       42.0       10.0
8         18514       1.0       5.0        0.0        0.0
9         20072       7.0       1.0       33.0       13.0
10        20269       1.0       4.0        0.0        0.0
11        20482      66.0      17.0        0.0        0.0
12        21207      10.0      16.0       37.0       27.0
13        23328       9.0       4.0        0.0        0.0
14        27686       1.0       4.0        0.0        0.0
15        28243       1.0       6.0        1.0        2.0
16        32491       1.0       9.0       55.0       17.0
17        33120      11.0      11.0       21.0       18.0
18        34208       6.0      10.0       23.0        9.0
19        34791      10.0       3.0       46.0       19.0
20        36908       1.0       3.0        0.0        0.0
21        42216       7.0       9.0       40.0       19.0
22        43452       5.0       4.0        0.0        0.0
23        47103       1.0       9.0       21.0        7.0
24        48929      14.0      14.0       19.0       17.0
25        49525      30.0      11.0       78.0       27.0
26        50035      47.0      25.0       78.0       47.0
27        55259       6.0       6.0       51.0       14.0
28        58081      35.0      37.0       72.0       70.0
29        61772      10.0       7.0        0.0        0.0
...         ...       ...       ...        ...        ...
64825  99769546       0.0       0.0        8.0        4.0
64826  99774575       0.0       0.0        1.0        1.0
64827  99779776       0.0       0.0       45.0       17.0
64828  99782465       0.0       0.0       34.0       11.0
64829  99808333       0.0       0.0        9.0        3.0
64830  99813298       0.0       0.0       55.0       14.0
64831  99824944       0.0       0.0       78.0       43.0
64832  99828046       0.0       0.0        1.0        3.0
64833  99836834       0.0       0.0        1.0        2.0
64834  99838950       0.0       0.0        6.0        7.0
64835  99839996       0.0       0.0        1.0        4.0
64836  99845931       0.0       0.0       36.0       13.0
64837  99846004       0.0       0.0        3.0        2.0
64838  99872593       0.0       0.0        1.0        5.0
64839  99880030       0.0       0.0       13.0        3.0
64840  99892948       0.0       0.0        3.0        1.0
64841  99904471       0.0       0.0        1.0        3.0
64842  99915982       0.0       0.0        1.0        1.0
64843  99930661       0.0       0.0       52.0       17.0
64844  99932868       0.0       0.0       30.0       13.0
64845  99936463       0.0       0.0        1.0        2.0
64846  99942760       0.0       0.0        1.0        1.0
64847  99943026       0.0       0.0        1.0        1.0
64848  99946229       0.0       0.0       31.0        6.0
64849  99958868       0.0       0.0        1.0        1.0
64850  99960336       0.0       0.0       20.0        6.0
64851  99961355       0.0       0.0        8.0        2.0
64852  99969451       0.0       0.0       21.0        3.0
64853  99977491       0.0       0.0       39.0       24.0
64854  99985652       0.0       0.0        1.0        1.0

[64855 rows x 5 columns]

In [45]:
df.to_csv("lab_drug.csv", sep='\t')